DISCORD_TOKEN=MTQ2ODc1NzA2MDExMTA0NDY5Mg.GhzXE7.M3ST2pwpstFfheLI52eud8zbooD2yGAVPX4oM4
GUILD_ID=optional_single_guild_id_for_instant_command_updates

# Prefix for text commands. Default is h!
COMMAND_PREFIX=h!

SUPABASE_URL=https://rnjwmrdrjzhuwpbbcmdv.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJuandtcmRyanpodXdwYmJjbWR2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODIxOTEwNywiZXhwIjoyMDkzNzk1MTA3fQ.fVz8wOst8IwOYWU-EGRkffp_GAXPmjq4ussCHCXQ9x8

SCAN_INTERVAL_MS=60000
