DISCORD_TOKEN=MTQ2ODc1NzA2MDExMTA0NDY5Mg.GhzXE7.M3ST2pwpstFfheLI52eud8zbooD2yGAVPX4oM4
GUILD_ID=optional_single_guild_id_for_instant_command_updates

# Prefix for text commands. Default is h!
COMMAND_PREFIX=h!

SUPABASE_URL=https://hwdbgmmvkirbcehsbtkl.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

SCAN_INTERVAL_MS=60000
